/.env
/vendor/
/node_modules/
/web/cpresources/
/storage/runtime/
/storage/logs/
/storage/composer-backups/
/web/uploads/*
!/web/uploads/products/.gitkeep
!/web/uploads/content/.gitkeep
.DS_Store
*.log
config/license.key
